#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.component-label {
color: rgb(69, 68, 68);
text-align:left;

}

.header-component {
  color: white;
  border: solid rgb(69, 68, 68)

}

.header-welcome-user-text {
  color: white;
  text-align: right;
}

.footer-component {
  color: white;
  border: solid rgb(69, 68, 68)
}