#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Component Label*/
.component-label {
color: rgb(69, 68, 68);
display: flex;
justify-content:flex-start;
text-align:left;
font-size: 0.7rem;
list-style-type: none

}

/*Header styling*/
.header-component {
  color: white;
  border: solid rgb(69, 68, 68)

}

.header-welcome-user-text {
  color: white;
  display:flex;
  justify-content: flex-end;
  font-size: 1.5rem;

}

.home-logo-link {
  display: flex;
  justify-content:start;
}

/*Manager styling*/
/* .manager-component {
  border: solid rgb(69, 68, 68);
} */

.manager-component {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto; /* Center-align the container */
  border: solid rgb(69, 68, 68);
}

/*Main articles list styling*/
.main-articles-list-component-parent {
  border: solid rgb(69, 68, 68);
  

}

.main-articles-list-component{
  display: grid;
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: center; 
  padding: 0;
  list-style-type: none; 
  
}


/*Main articles card styling*/
.main-article-card-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  margin: 20px auto;
  width: 90%;
  justify-content: center;
}

.main-article-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  border: solid rgb(69, 68, 68);
  flex-direction: row;
  box-sizing: border-box;
  text-decoration: none;
}

#main-article-card-link {
  color: inherit;
  text-decoration: none;
}


.main-article-card-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#main-article-card-title{
  font-size: 1.2rem;
  font-weight: bold;
}

#main-article-card-image{
  width: 200px;
  height: auto;
  object-fit: scale-down;
  justify-content: flex-end;
  align-items: center;
}

#main-article-card-author{
font-size: 1rem;
}

#main-article-card-comment-count{
  font-size: 0.9rem;
}

#main-article-card-vote-count{
  font-size: 0.9rem;
}

/*Individual article styling*/
.individual-article-list-parent-component{
  border: solid rgb(69, 68, 68);

}

.individual-article-list-component{
  border: solid rgb(69, 68, 68);
  list-style-type: none;
}

.individual-article-card-parent-component {
  overflow: hidden;
}

.individual-article-card-component {
  border: solid rgb(69, 68, 68);

}

#individual-article-card-content{
 flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#individual-article-card-title{
  font-size: 2rem;
  font-weight: bold;
}
#individual-article-card-author{
  font-weight: bold;
}
#individual-article-card-image{

  width: 400px;
  height: auto;
  object-fit: scale-down;
  justify-content: flex-end;
  align-items: center;
  
}
#individual-article-card-comment-count{

}
#individual-article-card-vote-count{

}
#individual-article-card-body{
  justify-content:center;
}

/*Comment styling*/

.comment-list-parent-component {
  border: solid rgb(69, 68, 68);
}

.comment-list-parent {

}

.commment-card-parent-component {
  
  list-style-type: none
}

.comment-card-component {
  border: solid rgb(69, 68, 68);
}

.comment-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

/*Article Vote Button*/
.up-vote-button {
  background-color: #77dc58; 
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.down-vote-button {
  background-color: #9a3b3b; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.up-vote-button:disabled {
  background-color: #d6d6d6; 
  color: #9c9c9c; 
  cursor: not-allowed;
}

.down-vote-button:disabled {
  background-color: #d6d6d6; 
  color: #9c9c9c; 
  cursor: not-allowed;
}

/*Comment Form*/
.comment-form-parent-component{

}

.comment-form-component {
  border: solid rgb(69, 68, 68);
}

.article-comment-form{
  overflow: hidden;
}

/*Topics nav*/
.topics-nav-component{
  border: solid rgb(69, 68, 68);
  
}

.topics-nav-list{
  display: grid;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  

}
.topic-card-link{
  display:flex;
  text-decoration: none;
  color: inherit;
  
}

.topic-card {
 display: flex;
 margin-left: 2px;
 
}

#topic-card-title{
  margin-right: 1px;

}

/*SortBy Component*/
.sort-by-component{
  border: solid rgb(69, 68, 68);
  display: grid;
}

.drop-down{
color: black;
}

.sort-by-button {
    background-color: #54915a; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


/*Footer styling*/
.footer-component {
  color: white;
  border: solid rgb(69, 68, 68);
}